<main>

  <!-- If user is NOT logged in  -->
  <!-- Google Login -->
  <div *ngIf="!(afAuth.authState | async)">
    <h1>Login</h1>
    <button mat-raised-button appGoogleSignin>
      <i class="material-icons">login</i>
      Login with Google
    </button>
    <br>
    <br>
    <h4>OR</h4>

  <app-email-login></app-email-login>

  </div>

  <!-- If user IS logged in -->
  <div *ngIf="afAuth.authState | async as user" class="logout">
    <p>Logged in as <strong>{{ user.email }}</strong>
    </p>

    <button mat-stroked-button (click)="afAuth.signOut()">Logout</button>
  </div>
  <br>


</main>
